@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 4rem 0;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

p {
  font-size: 0.875rem;
  line-height: 1.5;
}


/* MENU HAMBÚRGUER */

[data-menu="hamburguer"] {
    display: none;
  }
  
  @media only screen and (max-width: 750px) {
    .header {
      height: 4.25rem;
      box-sizing: border-box;
    }
  
    .js .header-container {
      flex-wrap: nowrap;
    }
  
    .js [data-menu="hamburguer"] {
      display: flex;
      align-items: center;
      padding: 0px;
      border: none;
      background: none;
      outline: none;
      font-family: 'Open Sans', sans-serif;
      font-size: 1rem;
      color: #9C7FD0;
      text-transform: uppercase;
      cursor: pointer;
      margin-left: 1rem;
      position: relative;
    }
  
    .js [data-menu="hamburguer"]::after {
      content: "";
      display: inline-block;
      width: 2rem;
      height: 0.125rem;
      background: #9C7FD0;
      margin-left: 1rem;
      box-shadow: 0 0.5rem #9C7FD0, 0 -0.5rem #9C7FD0;
    }
  
    .js [data-menu="lista"] {
      display: none;
      position: absolute;
      top: 4.25rem;
      right: 1rem;
      width: 200px;
      background: #9C7FD0;
      padding: 1rem;
      border-radius: 0 0 5px 5px;
      border: 1px solid var(--white-3);
      box-sizing: border-box;
      z-index: 100;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
    }
  
    .js [data-menu="lista"].ativo {
      display: block;
    }
  
    .js [data-menu="lista"] li + li {
      margin-left: 0px;
      padding-top: 0.5rem;
      margin-top: 0.5rem;
      border-top: 1px solid var(--white-3);
    }
  
    .js [data-menu="lista"] li a {
      font-size: 0.875rem;
      text-transform: none;
      color: var(--black-1);
      border: none;
      transition: 0.1s ease-out;
    }
  
    .js [data-menu="lista"] li a:hover {
      color: var(--white-3);
    }
  }

body {
    font-family: 'Open Sans', sans-serif;
}
.container {
max-width: 5000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10rem;
  padding-right: 10rem;
}

.foto{
  width: 400px;
  height: 300px;
  background-image: url(fundo.jpg);
}

.cta {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 4rem;
    background: #FD9E17;
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
    transition: 0.3s ease;
  }
  
  .cta:hover {
    background: #9C7FD0;
  }
  
  .mar {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 1rem;
    background: #FD9E17;
    margin-top: 0.5rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
    transition: 0.3s ease;
  }
  
  .mar:hover {
    background: #9C7FD0;
  }

  .titulo {
    font-size: 1.5rem;
    color: var(--blue-1);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
  }

/* HEADER */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.25rem 0;
    background: #9C7FD0;
    box-shadow: 0 2px 2px #9C7FD0;
    z-index: 10;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  
  }
  
  .header ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    list-style: none;
  }
  
  .header li + li {
    margin-left: 2rem;
  }
  
  .header li a {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #dbe0d4;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    padding: 5px 0;
    transition: 0.1s ease-out;
  }
  
  .header li a:hover,
  .header li a.ativo {
    border-bottom: 2px solid #dbe0d4;
  }

  /* MAIN */

.main {
    margin-top: 68px;
    width: 100%;
    height: 500px;
    color: rgb(0, 0, 0);
    text-align: justify;
    display: flex;
    align-items: center;
    background-image: url("C:\Users\marin\Pasta Visual Studio - Marina\Trabalho - Bimestre 2\fundo.jpg");
    background-size: cover;
  }
  
  .main h1 {
    font-size: 2.25rem;
    text-transform: uppercase;
  }
  
  .main p {
    font-size: 1.125rem;
    font-style: italic;
    margin-top: 1rem;
  }

/* Favoritos */  

  .favoritos-home {
    text-align: center;
  }
  
  .favoritos-home-lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    list-style-type: none;
    list-style: none;
  }
  
  .favoritos-home-lista li {
    background: #fff;
    border: 1px solid #CCC;
    border-radius: 5px;
    text-align: left;
  }
  
  .favoritos-home-lista li h2 {
    font-size: 1.125rem;
    color: #000000;
    text-transform: uppercase;
    height: 200px;
    background-image: url("C:\Users\marin\Pasta Visual Studio - Marina\Trabalho - Bimestre 2\dom casmurro capa.jpg");
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .favoritos-home-lista li:nth-child(2) h2 {
    background: url("acotar capa.jpg") no-repeat center center;
  }
  
  .favoritos-home-lista li:nth-child(3) h2 {
    background: url("por lugares incriveis capa.jpg") no-repeat center center;
  }
  
  .favoritos-home-lista p {
    padding: 2rem;
  }
  
  .favoritos-home-lista a {
    display: block;
    margin-top: 1rem;
    font-family: "Open Sans", sans-serif;
    color: var(--blue-1);
    transition: 0.1s ease-out;
  }
  
  .favoritos-home-lista a:hover {
    text-decoration: underline;
  }

/* TESTE - ESTRELAS */

.estrelas input[type=radio] {
  display: none;
}
.estrelas label i.fa{
  font-size: 2.5em
}
.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}

/* GALERIA HOME */

.galeria-home {
  text-align: center;
}

.galeria-lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  list-style-type: none;
  list-style: none;
}

.galeria-lista img {
  border-radius: 5px;
}

  /* MAPA */

.mapa p {
    font-size: 1.125rem;
    font-style: italic;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .mapa img {
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .mapa img:hover {
    opacity: 0.6;
  }

/* FOOTER */

.footer {
    width: 100%;
    background: #9C7FD0;
    padding-top: 4rem;
    color: #000000;
  }
  
  .footer h2 {
    font-size: 1.125rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  
  .footer li a {
    display: inline-block;
    font-size: 0.875rem;
    color: #000000;
    transition: 0.1s ease-out;
  }
  
  .footer li a:hover {
    text-decoration: underline;
  }
  
  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .footer-container > li + li {
    padding-left: 2rem;
    border-left: 1px solid #000000;
  }
  
  .mapa-do-site li + li {
    margin-top: 0.25rem;
  }
  
  .footer-contato li + li {
    margin-top: 0.5rem;
  }
  
/* JAVASCRIPT */

/* ANIMAÇÃO AO SCROLL */

.js [data-animate="scroll"] {
    opacity: 0;
    transform: translate3d(0, 32px, 0);
    transition: 1s;
  }
  
  .js [data-animate="scroll"].ativo {
    opacity: 1;
    transform: none;
  }
  
/* Resenhas - OPINIÃO */

.opiniao {
  width: 100%;
  background: var(--white-2);
}

.opiniao-container {
  display: grid;
  grid-template-columns: minmax(250px, 480px) minmax(250px, 1fr);
  gap: 4rem;
}

.form {
  background: #FD9E17;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 2rem;
  width: 100%;
  max-width: 480px;
  box-sizing: border-box;
  text-align: left; margin-left: auto; margin-right: auto;
}

.form label,
.form input,
.form select,
.form textarea,
.form button {
  display: block;
  width: 100%;
}

.form label {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.form input,
.form select {
  margin-bottom: 1rem;
}

.select {
  position: relative;
}

.select::after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 0.5rem;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translate3d(0, -50%, 0);
  pointer-events: none;
}

.form input,
.form select,
.form textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  color: var(--black-1);
  padding: 1rem;
  border: 1px solid var(--white-3);
  border-radius: 5px;
  box-sizing: border-box;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form textarea {
  max-width: 100%;
  height: 200px;
  resize: vertical;
}

.form button {
  border: none;
  cursor: pointer;
  background-color: #AED581;
}
  
/* RESPONSIVO */

@media only screen and (max-width: 750px) {
  .favoritos-home-lista,
  .depoimentos-lista,
  .footer-container,
  .favoritos-container,
  .resenha-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .main,
  .resenha,
  .favoritos{
    height: 400px;
  }

  .main {
    background: url("../Trabalho - Bimestre 2/fundo.jpg") no-repeat center center;
  }

  .resenha {
    background: url("../Trabalho - Bimestre 2/fundo.jpg") no-repeat center center;
  }

  .favoritos {
    background: url("../Trabalho - Bimestre 2/fundo.jpg") no-repeat center center;
  }

  .favoritos-home-lista li {
    max-width: 388px;
  }

  .favoritos-home-lista p {
    padding: 1rem;
  }


  .footer-container {
    justify-items: start;
    gap: 2rem;
  }

  .footer-container > li + li {
    width: 100%;
    padding-left: 0px;
    border-left: none;
    padding-top: 2rem;
    border-top: 1px solid var(--black-1);
  }

  .favoritos-container {
    gap: 2rem;
  }


  .resenha-container {
    gap: 2rem;
  }

  .mapa p {
    font-size: 0.875rem;
  }

  @media only screen and (max-width: 400px) {
    .main h1 {
      font-size: 1.5rem;
    }

    .titulo {
      font-size: 1.125rem;
    }

    .resenha-lista li {
      grid-template-columns: 1fr;
      justify-items: center;
      text-align: center;
    }

    .form {
      padding: 1rem;
    }

    .form .cta {
      margin-top: 1rem;
    }
  }
}